.grid .category--review--flex{
    display: flex;
}
.grid .category--grid--review{
    /* display: flex; */
   
}

.grid.review--category__p--more a{
    text-align: center;
    border: 1px solid #ff2d37;
    color: #ffffff;
    background-color: #ff2d37;
    cursor: pointer;
    height: 30px;
    padding: 5px;
    width: 50%;
    border-radius: 5px;
}
.grid.review--category__p--more a:hover{
    color: #ff2d37;
    background-color: #ffffff;
}

.product--hot__img {
    height: 198px;
}
.grid .review--category__p--more{
    margin-top: 20px;
    text-align: center;
}